doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Тестовое задание ivi")
        meta(name="keywords" content="ivi, test")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" media="all" )
        link(rel="stylesheet" href="/assets/build/main.min.css" media="all" )
        link(rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon")
        title Тестовое задание
    body
        div.container
            div.gemstone
                div.gemstone__inner
                    div.gemstone__title Go!

        script(src="/assets/build/main.min.js")
